@model Ticket_System.ViewModel.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="~/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
	
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
	
    <script type="text/javascript" charset = "UTF-8" >
        $(function() {
            debugger;
            var aa = '@Html.Raw(ViewData["ErrorMessage"])';
            console.log('aaa:'+aa);
            if (aa!=='') {
                alert(aa);
            }

        });
    </script>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
               
					@using (Html.BeginForm("LoginUser","Login",FormMethod.Post,new {@id="Form",@class="login100-form validate-form flex-sb flex-w"}))
					{
					    <span class="login100-form-title p-b-51">
                            Login
                        </span>
					    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                            @Html.TextBoxFor(model => model.UserID, new { @class = "input100", placeholder = "帳號" })
                            <span class="focus-input100"></span>
                        </div>


					    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                            @Html.PasswordFor(model => model.Pwd, new { @class = "input100", placeholder = "密碼" })
                            <span class="focus-input100"></span>
                        </div>


					    <div class="container-login100-form-btn m-t-17">
                            <input type="submit" value="Login" class="login100-form-btn"/>
                        </div>

					}
             

              
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	


</body>
</html>